body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
}

.header {
    display: flex;
    flex: 1;
    background-color: rgb(0, 255, 251);
    padding: 10px 20px 10px 20px;
}

.logo {
    font-size: 75px;
    font-weight: 900;
    color: white;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.418);
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
}

.links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 0;
}

.links ul {
    text-decoration: none;
    display: flex;
    align-items: flex-end;

}

.links li {
    list-style: none;
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(1, 146, 178);
    color: white;
}

.banner {
    background-color: rgb(1, 146, 178);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.banner h1 {}

.banner h2 {}

.contentbox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.contentHeader {
    display: flex;
    justify-content: flex-start;
    padding-left: 60px;
    background-color: rgb(0, 255, 251);
    border-top: 2px ridge white;
    border-bottom: 2px ridge white;
}

.mainContent {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: rgb(1, 146, 178);
    flex-grow: 1;
}

.newsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex: 2;

}

.newsContainer h1 {
    margin-bottom: 0;
}

.newstext {
    flex: 1;
    margin-bottom: 30px;
}

.newsContainer .imgPlaceholder2 {
    background-color: rgb(132, 247, 245);
    width: 750px;
    height: 200px;
    border: 4px ridge white;
}

.imgPlaceholder {
    background-color: rgb(132, 247, 245);
    width: 200px;
    height: 200px;
    border: 4px ridge white;
}


.prevNewsContainerMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.prevNewsContainer {
    flex: 0 0 0;
    width: 205;
    margin-right: 20px;

}

.prevNewsContainer h1 {
    font-size: large;
    text-align: center;
}

.prevnewsDetail {
    height: 40px;
    background-color: rgb(132, 247, 245);
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url("assets/clouds.gif");
    border: 4px ridge white;
}


.sidebar {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
    justify-content: center;
    flex: 1;
}

.featured {
    display: flex;
    padding: 30px;
    margin-bottom: 30px;
    border: 2px solid white;
    justify-content: center;
    flex: 1;
}

.about {
    flex: 1;
}

.featuredImg {
    background-color: rgb(132, 247, 245);
    width: 100px;
    height: 150px;
    border: 4px ridge white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-image: url("assets/clouds.gif");

}

.aboutName {
    text-align: center;
    margin-top: 5px;
    padding-bottom: 5px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid white;
    font-size: larger;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 255, 251);
    -webkit-text-stroke: 0.8px black;

}

.aboutText {
    border: 2px solid white;
    padding: 0px 20px 0px 20px;
}

.aboutText h1 {
    margin: 0;

}

.aboutText p {
    margin: 0;
    padding-bottom: 10px;
}

.about2 {
    flex: 1;
    padding-left: 10px;
}

.about2 h1 {
    margin: 0px 10px 0px 10px;
    
}

.about2 ul {
    text-decoration: none;
    margin: 0;
}

.about2 li {
    list-style: circle;
    margin: 0;
}

.nftCorner {
    display: flex;
    padding: 30px;
    margin-bottom: 30px;
    border: 2px solid white;
    justify-content: center;
    flex: 1;
}

.nftCorner h1 {
    text-align: center;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(0, 255, 251);
    flex-shrink:0 ;
    
}